@using MvcStok.Models.Entity
@model List<TBLMUSTERI>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}


@using (Html.BeginForm("Index","Musteri",FormMethod.Get))
            {
                <p> <b>Aranacak Müşteri Adı: </b> @Html.TextBox("p")
                <input type="submit" value="Ara" />
           </p>
            }

<table class="table table-bordered">

    <tr>
        <th>Müşteri ID</th>
        <th>Müşteri AD</th>
        <th>Müşteri SOYAD</th>
        <th>SİL</th>
        <th>GÜNCELLE</th>
    </tr>

    <tbody>
        @foreach (var musteri in Model)
        {
                <tr>
                    <th>@musteri.MUSTERIID</th>
                    <td>@musteri.MUSTERIAD</td>
                    <td>@musteri.MUSTERISOYAD</td>
                    <td><a href="/Musteri/SIL/@musteri.MUSTERIID" class="btn  btn-danger">SİL</a></td>
                    <td><a href="/Musteri/MusteriGetir/@musteri.MUSTERIID" class="btn btn-success">GÜNCELLE</a></td>
                    <td>@Html.ActionLink("SİL BUTONU ", "SIL", new { id = musteri.MUSTERIID }, new { @class = "btn btn-warning", onclick = "return confirm('Gerçekten silmek istiyor musunuz ?')" })</td>
                </tr>
            }
    </tbody>



</table>
<a href="/Musteri/MusteriEkle/" class="btn btn-primary">YENİ MÜŞTERİ EKLE</a>

